html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
}
p{
  color: white;
}
#instructions{
  font-size: 20px;
  position: absolute;
  left: 5vw;
}

#cheatcodes{
  font-size: 20px;
  position: fixed;
  right: 5vw;
}
#link{
  position: fixed;
  left: 43vw;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #28FF01;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
