html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
}
p{
  color: white;
}
#p5_loading {
  color: white;
  width: 500px;
  height: 500px;
  border: 5px solid black;
  font-size: 200%;
  text-align: center;
  margin: auto;

  /* mark this div as relatively positioned - this won't move it, but
     it will cause the div to 'remember' its position on the page -
     this is important since any child divs will need this information
     in order to position themselves correctly */
  position: relative;
  top: 30vh;
}

#progress_bar {
  background-color: blue;
  height: 25px;
  width: 0%;
  position: absolute;
  top: 250px;
  left: 0px;
}

#instructions{
  font-size: 1vw;
  position: absolute;
  left: 5vw;
}

#cheatcodes{
  font-size: 1vw;
  position: fixed;
  right: 5vw;
}
#link{
  font-size: 1vw;
  position: fixed;
  left: 43vw;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #28FF01;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
